
td.topleft {
  font-size : 13px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #ff9900 none; 
  color : #034e7f;
  padding: 4px;
}

td.topright {
  font-size : 13px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #034e7f none; 
  color : #ffffff;
  padding: 3px;
  padding-left: 10px;
}

td.topleft a{
  font-size : 13px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #ff9900 none;
  color : #034e7f;
  text-decoration: none;
}

td.topright a{
  font-size : 13px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #034e7f none;
  color : #ffffff;
  text-decoration: none;
}

td.topleft a:hover{
  font-size : 13px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #ff9900 none;
  color : #ffffff;
  text-decoration: none;
}

td.topright a:hover{
  font-size : 13px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #034e7f none;
  color : #ff9900;
  text-decoration: none;
}

td.sidemenu {
  font-size : 11px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #6798c7 none;
  color : #034e7f;
  text-decoration: none;
  padding: 7px;
}

td.sidemenu a {
  font-size : 11px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #6798c7 none;
  color : #fffff; <!-- #034e7f;
  text-decoration: none;
}

td.sidemenu a:hover {
  font-size : 11px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #6798c7 none;
  color : #ff9900;
  text-decoration: none;
}

li.sidemenu {
  color: white;
  list-style: square;
  margin-left: -20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

td.bottombar {
  font-size : 12px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #626262 none;
  color : #ffffff;
  text-decoration: none;
}

td.bottombar a {
  font-size : 12px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #626262 none;
  color : #ffffff;
  text-decoration: none;
}

td.bottombar a:hover {
  font-size : 12px;
  font-family : Georgia, Times New Roman, Times, serif;
  background : #626262 none;
  color : #ff9900;
  text-decoration: none;
}
