---
name: Run weekly checks

# run monday morning at midnight
on:
  schedule:
    - cron: "0 0 * * 1"

jobs:
  weekly-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: "npm"
      - name: Install npm dependencies
        run: |
          npm install
      - name: Run weekly checks
        run: |
          npm run test:weekly
